In [7]:
from transformers import AutoTokenizer, AutoModelForTokenClassification
from transformers import pipeline
import spacy
import sqlite3, os
import pandas as pd

In [2]:
%%capture
!pip install hf_xet

In [3]:
model_name = "AhmedTaha012/finance-ner-v0.0.8-finetuned-ner"

tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForTokenClassification.from_pretrained(model_name)

fin_ner = pipeline(
    "ner",
    model=model,
    tokenizer=tokenizer,
    aggregation_strategy="simple"
)

print("Success!!")

Device set to use cpu

Success!!

In [4]:
text = "RBI increased the repo rate and HDFC Bank saw strong Q2 earnings."
fin_ner(text)

[]

In [8]:
conn = sqlite3.connect("../data/financial_news.db")
cur = conn.cursor()
cur.execute(
    """
    SELECT * FROM unique_news ORDER BY id 
    """
)
df = cur.fetchall()
cur.close()
conn.close()

print("SUCCESS!!")
print(len(df))

pd_dataframe = pd.DataFrame(df)
pd_dataframe.head()

SUCCESS!!
386

,0,1,2,3,4
0,1,[1],Worried About Inflation? These 3 ETFs Offer Re...,Worried About Inflation? These 3 ETFs Offer Re...,1
1,2,[2],Intel’s Black Friday Breakout: Apple Rumors Fu...,Intel’s Black Friday Breakout: Apple Rumors Fu...,1
2,3,[3],Klarna's Crypto Play: A Plan to Fix Its Profit...,Klarna's Crypto Play: A Plan to Fix Its Profit...,1
3,4,[4],Meta Platforms May Ditch NVIDIA Chips—Here’s W...,Meta Platforms May Ditch NVIDIA Chips—Here’s W...,1
4,5,[5],SoFi Technologies: From Fintech Speculation to...,SoFi Technologies: From Fintech Speculation to...,1

In [10]:
sample_text = pd_dataframe[3][1]
fin_ner(sample_text)

[]