In [1]:
# https://www.nasdaq.com/market-activity/stocks/screener

In [2]:
import pandas as pd, os, json

In [3]:
stocks_df = pd.read_csv("../data/nasdaq_screener_1764678004976.csv")
stocks_df.shape

(6999, 11)

In [4]:
stocks_df.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$150.10,-3.400,-2.215%,4.255341e+10,United States,1999.0,2044215,Industrials,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$41.65,-0.090,-0.216%,1.078585e+10,United States,2016.0,7454908,Industrials,Aluminum
2,AACB,Artius II Acquisition Inc. Class A Ordinary Sh...,$10.285,0.015,0.146%,0.000000e+00,United States,2025.0,10306,NaN,NaN
3,AACBR,Artius II Acquisition Inc. Rights,$0.31,0.000,0.00%,0.000000e+00,United States,2025.0,20150,NaN,NaN
4,AACBU,Artius II Acquisition Inc. Units,$10.54,0.000,0.00%,0.000000e+00,United States,2025.0,31,Finance,Blank Checks

In [5]:
stocks_df["Sector"].value_counts()

Sector
Finance                   1516
Health Care               1114
Consumer Discretionary    1048
Technology                 776
Industrials                622
Real Estate                411
Energy                     196
Utilities                  174
Consumer Staples           149
Basic Materials            136
Telecommunications         109
Miscellaneous               64
Name: count, dtype: int64

In [6]:
stocks_df["Industry"].value_counts()

Industry
Biotechnology: Pharmaceutical Preparations    548
Major Banks                                   303
Computer Software: Prepackaged Software       254
Real Estate Investment Trusts                 238
Industrial Machinery/Components               216
                                             ...
Electronics Distribution                        1
Diversified Electronic Products                 1
Tobacco                                         1
Tools/Hardware                                  1
Other Transportation                            1
Name: count, Length: 152, dtype: int64

In [7]:
for _, row in stocks_df.iterrows():
    print(_)
    print(row)
    break

0
Symbol                                                       A
Name                    Agilent Technologies Inc. Common Stock
Last Sale                                              $150.10
Net Change                                                -3.4
% Change                                               -2.215%
Market Cap                                       42553414093.0
Country                                          United States
IPO Year                                                1999.0
Volume                                                 2044215
Sector                                             Industrials
Industry      Biotechnology: Laboratory Analytical Instruments
Name: 0, dtype: object

In [8]:
mappings = { row["Name"]: row["Symbol"] for _, row in stocks_df.iterrows() }

os.makedirs("../assets", exist_ok=True)
json_output_path = "../assets/company_to_symbol.json"

with open(json_output_path, "w", encoding='utf-8') as f:
    json.dump(mappings, f, indent=2, ensure_ascii=False)

print("Saved the json file successfully.")

Saved the json file successfully.

In [20]:
sectors = stocks_df["Sector"].unique()
sectors

array(['Industrials', nan, 'Finance', 'Real Estate',
       'Consumer Discretionary', 'Technology', 'Health Care',
       'Basic Materials', 'Consumer Staples', 'Energy', 'Miscellaneous',
       'Telecommunications', 'Utilities'], dtype=object)