In [1]:
# from the website "https://www.nseindia.com/static/market-data/securities-available-for-trading" 
# Download - "Securities available for Equity segment (.csv) (147 KB)"

In [2]:
import pandas as pd, os, json
import yfinance as yf

In [3]:
stocks_df = pd.read_csv("../data/EQUITY_L.csv")
stocks_df.shape

(2212, 8)

In [4]:
stocks_df.head()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1,1,INE466L01038,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10

In [5]:
stocks_df["SYMBOL"].value_counts()

SYMBOL
20MICRONS     1
21STCENMGM    1
360ONE        1
3IINFOLTD     1
3MINDIA       1
             ..
ZOTA          1
ZUARI         1
ZUARIIND      1
ZYDUSLIFE     1
ZYDUSWELL     1
Name: count, Length: 2212, dtype: int64

In [6]:
for _, row in stocks_df.iterrows():
    # print(_)
    print(row["SYMBOL"], row["NAME OF COMPANY"])
    break

20MICRONS 20 Microns Limited

In [7]:
mappings = { row["NAME OF COMPANY"]: row["SYMBOL"] for _, row in stocks_df.iterrows() }

os.makedirs("../assets", exist_ok=True)
json_output_path = "../assets/company_to_symbol.json"

with open(json_output_path, "w", encoding='utf-8') as f:
    json.dump(mappings, f, indent=2, ensure_ascii=False)

print("Saved the json file successfully.")

Saved the json file successfully.

In [8]:
sector_map = {}

for sym in stocks_df["SYMBOL"].tolist():
    try:
        info = yf.Ticker(f"{sym}.NS").info
        sector = info.get("sector", None)
        industry = info.get("industry", None)
        sector_map[sym] = {
            "sector": sector,
            "industry": industry
        }
        # print(sym, sector, industry)
    except:
        continue

with open("../assets/symbol_to_sector.json", "w") as f:
    json.dump(sector_map, f, indent=2)


print("Saved the json file successfully.")

Saved the json file successfully.